body {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    background-color: seagreen;
    font-family: Arial, Helvetica, sans-serif;
}

#mainBox{
    background-image: url('');
    background-size: cover;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border: 2px solid gold;

    line-height: 50px;
    color: gold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

div {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.preview{
    width: 10%;
    border: 2px solid gold;
}
