button {
    border: cornflowerblue 2px solid;
    font-size: 30px;
    background-color: crimson;
}

.open {
    display: block;
    background-color: magenta;
    font-size: 60px;
}

.closed {
    display: none;
}